{
    "*.ts": [
        "tslint -p tsconfig.base.json --fix",
        "prettier --write",
        "tslint -p tsconfig.base.json -c tslint.json",
        "git add"
    ],
    "*.{js,json,md,yml,yaml}": [
        "prettier --write",
        "git add"
    ]
}
